
/* --------- Dropdown ---------- */
.drop-nav{
    position: relative;
    margin: 10px;
}
.drop-nav a{
    text-decoration: none;
    text-transform: capitalize;
    overflow: hidden;
    font-size: large;
    color:seashell;
    opacity: 1;
}
.drop-nav .dropdown{
    position: absolute;
    background: slategray;
    width: 100%;
    width: calc(100% + 30px);
    top: 25px;
    display: none;
    border:2px solid black;
    border-radius: 5px ;
}
.drop-nav .dropdown li{
    display: block;
}
.drop-nav:hover .dropdown{
    display: block;
}